.Rproj.user
.Rhistory
.RData
.Ruserdata
decide_anonymization.R
data/SESOI_DECIDE.csv
data/DECIDE_Protocol_Comparison_Details.csv
data/DECIDE_IV-EV-RE-TV_scoring.csv
data/MASTERSHEET_DECIDE_1.xlsx
data/MASTERSHEET_DECIDE_anonymized.csv
data/SESOI_DECIDE_anonymized.csv
additional_checks.R
deprecated.R
figure_builder.R
renv/library/
renv/staging/
renv/sandbox/
DECIDE-internal/
results/
simulation_results/